* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  margin: 0;
  background: #f1f1f1;
}
h1 {
  font-weight: 700;
  text-transform: uppercase;
}
h2, h3 {
  font-weight: 200;
  text-transform: uppercase;
}
h5 {
  color: #7b7b7b;
}
.content {
  max-width: 920px;
  margin: 0 auto;
}
/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #dcdcde;
  color: white;
}

/* navbar style */
.navbar {
  top: 0;
  left: 0;
  display: flex;
  background-color: #161d3e;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 20px 10px;
  font-weight: 400;
  font-size: .9em;
}
.nav-itens {
  margin: 0 auto;
  padding: 20px;
}
.navbar a:hover {
  color: #212c6b;
}
/* navbar style */

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #e2edf3;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}

/* Footer */
footer {
  display: flex;
  background: #dcdcde;
}
.footer {
  margin: 0 auto;
  padding: 20px;
  font-size: .9em;
}
.footer a {
  text-decoration: none;
  padding: 20px 10px;
  color: #000;
}
.footer a:hover {
  color: #212c6b;
  font-weight: 400;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .navbar {
    width: 100%;
    display: block;
    text-align: right;
  }
}
